python==3.8
pip==23.1.2
pytorch==1.13.1
pytorch-cuda==11.7
gym==0.15.3
cython==0.29.35
numpy==1.21.6
scipy==1.7.3
pymoo==0.6.0
opencv-python==4.7.0.72
matplotlib==3.5.3
tensorboard==2.11.2
wandb==0.18.7
git+https://github.com/ku2482/rltorch
visdom==0.2.4
